.navbar_root {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            list-style-type: none;
            margin: 0px 24px;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
    ul :last-child {
        margin: 0px;
    }
}