html {
  height: 100%;
}

body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg: red;
  --text: black;
}

.dark {
  --bg: linear-gradient(to right, #868f96 0%, #596164 100%);
  --text: white;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background: var(--bg);
}

.light {
  --bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --text: black;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background: var(--bg);
}

.wholebody {
  color: var(--text);
  margin: auto;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  -webkit-transition: background-color 0.5s ease , color 1s ease;
  transition: background-color 0.5s ease , color 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.navbar_root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_root ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_root ul li {
  list-style-type: none;
  margin: 0px 24px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar_root ul :last-child {
  margin: 0px;
}

.about_root {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
  -webkit-transition: background-color 0.5s ease , color 2s ease;
  transition: background-color 0.5s ease , color 2s ease;
}

.about_root .second_section {
  height: 60vh;
  width: 50%;
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.about_root .second_section svg {
  position: absolute;
  height: auto;
  width: 100%;
}

.about_root .second_section ::after {
  content: '';
  -webkit-clip-path: ellipse(50% 25% at 50% 50%);
          clip-path: ellipse(50% 25% at 50% 50%);
  width: 100px;
  height: 50px;
  background-color: black;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  50% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
  }
  75% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  50% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
  }
  75% {
    -webkit-transform: rotateY(50deg);
            transform: rotateY(50deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.main_section {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  background-image: -webkit-gradient(linear, left top, right top, from(#434343), to(black));
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.main_section img {
  height: 50%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(8px 8px 10px gray);
          filter: drop-shadow(8px 8px 10px gray);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotateanimation 1s ease-in-out 0s;
          animation: rotateanimation 1s ease-in-out 0s;
}

.type_writer {
  color: white;
}

@-webkit-keyframes rotateanimation {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes rotateanimation {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */